<h1>Create account</h1>
<form action="post">
  <input type="text" name="username" id="" placeholder="username" />
  <input type="password" name="password" id="" placeholder="password" />
  <button type="submit">Submit</button>
</form>
