header{
  background-color: #909090;
  border-radius: 7px;
  box-shadow: 10px 10px 10px #000000;
  margin-top: 20px;
  position: relative;
}
body{
  background-color: #505050;
}

.container{
  width: 75%;
  margin: 0 auto;
  
}
#close{
  position: absolute;
  right: 12px;
  bottom: 10px;
}
#logo{
  height: 110px;
  padding: 10px;
}

#reload{
  position: absolute;
  right: 12px;
  top: 10px;
  width: 22px;
}

#search{
  position: absolute;
  right: 52px;
  top: 10px;
}


article{
  background-color: #909090;
  box-shadow: 10px 10px 10px #000000;
  border-radius: 7px;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  width: 60%;
  height: 80%;
  
}

article img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}